In [1]:
import numpy as np
import pandas as pd

In [2]:
banks = pd.read_csv(r"C:\Users\Ramani Rushik\Downloads\banklist.csv")
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [3]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [4]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [5]:
states = banks['ST'].nunique()
print(f"There are {states} States are represented in this data set")

There are 44 States are represented in this data set

In [6]:
Ls = banks['ST'].unique()
Ls

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [7]:
s = banks['ST'].value_counts().head(5)
s

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [8]:
t = banks["Acquiring Institution"].value_counts().head(5)
t

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [9]:
df = banks[banks['ST'] == 'CA']
m = df['City'].value_counts().idxmax()
m

'Los Angeles'

In [10]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [11]:
total = (banks['Acquiring Institution'] == 'State Bank of Texas').sum()
texas = banks[(banks['Acquiring Institution'] == 'State Bank of Texas') & (banks['ST'] == 'TX')].shape[0]
print(total)
print(texas)

3
1

In [12]:
acquir = len(banks[banks["Acquiring Institution"] == "State Bank of Texas"])
intexas = len(banks[(banks["Acquiring Institution"] == "State Bank of Texas") & (banks["ST"] == "TX")])
print(f"There are {acquir} banks has the State Bank of Texas acquired")
print(f"And {intexas} of them were actually in Texas")

There are 3 banks has the State Bank of Texas acquired
And 1 of them were actually in Texas

In [13]:
b = banks[banks["ST"] == "CA"]
v = b["City"].value_counts().idxmax()
n = b["City"].value_counts().max()
print(f"The most common city in California for a bank to fail in is {v}, with {n} failures.")

The most common city in California for a bank to fail in is Los Angeles, with 4 failures.